@model IEnumerable<EmployeePortal.Common.Models.Employee> 
@{
    ViewData["Title"] = "Employee Directory";
    IEnumerable<EmployeePortal.Common.Models.Department> d = ViewData["department"] as IEnumerable<EmployeePortal.Common.Models.Department>;
}

<div class="mt-2">
    <div class="row">
        <div class="col-md-7">
            <h2>Employees</h2>
        </div>
        <div class="col-md-5">
            <div class="input-group">
                <input type="text" class="form-control py-2" placeholder="Search...">
                <div class="input-group-append">
                    <button class="btn btn-primary py-2" type="button"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="/Employee/Create" class="btn btn-primary">Create<a />
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <hr />
    <div class="row pb-5 mb-4">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <div class="card rounded shadow-sm border-0">
                    <div class="card-body">
                        <img src="~/images/01.jpg" alt="" class="img-fluid mb-3">
                        <div class="text-on-image">
@*                             <a href="@Url.Action("Delete", "Employee", new { Id = item.Id })" id="detailsbtnid" class="btn btn-warning">Edit details</a>
 *@
                            @* @Html.ActionLink("", "Delete",
                        new { Id = item.Id },
                        new
                        {
                        onclick = "return confirm('Are you sure of deleting the record?')",
                        @class = "btn btn-outline-danger fa-solid fa-trash d-flex justify-content-end",
                        }) *@
                            <a href="@Url.Action("Delete", "Employee", new { Id = item.Id })" class=" btn btn-outline-danger">
                        <i class="fa-solid fa-trash d-flex justify-content-end"></i>
                        </a>
                        </div>
                        <h5> <span class="text-dark">@item.FirstName @item.LastName</span></h5>
                        @foreach (var ditem in d)
                        {
                            if (item.DepartmentId == ditem.Id)
                            {
                                <p class="small text-muted font-italic badge badge-success">@ditem.DepartmentName</p>
                            }
                        }
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0"><i class="fa-solid fa-envelope me-2"></i>@item.Email</li>
                            <li class="list-inline-item m-0"><i class="fa-solid fa-phone me-2"></i>@item.PhoneNo</li>
                        </ul>
                    </div>
                    <div class="d-flex justify-content-evenly">
                        <a href="@Url.Action("Update", "Employee", new { Id = item.Id })" id="detailsbtnid" class="btn btn-warning">Edit details</a>
                        <a href="@Url.Action("Details", "Employee", new { Id = item.Id })" class="btn btn-success">View details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>