@{
    ViewData["Title"] = "Employee Directory";
}
@model IEnumerable<EmployeePortal.Common.Models.Employee>
<div class="mt-2">
    <div class="row">
        <div class="col-md-7">
            <h2>Employees</h2>
        </div>
        <div class="col-md-5">
            <div class="input-group">
                <input type="text" class="form-control py-2" placeholder="Search...">
                <div class="input-group-append">
                    <button class="btn btn-primary py-2" type="button"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a href="/Employee/Create" class="btn btn-primary">Create<a/>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <hr />
    <div class="row pb-5 mb-4">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <div class="card rounded shadow-sm border-0">
                    <div class="card-body">
                        <img src="~/images/01.jpg" alt="" class="img-fluid mb-3">
                        <h5> <a href="#" class="text-dark">@item.FirstName @item.LastName</a></h5>
                        <p class="small text-muted font-italic">@item.DepartmentId</p>
                        <ul class="list-inline small">
                            <li class="list-inline-item m-0"><i class="fa-solid fa-envelope me-2"></i>@item.Email</li>
                            <li class="list-inline-item m-0"><i class="fa-solid fa-phone me-2"></i>@item.PhoneNo</li>
                        </ul>
                    </div>
                    <a asp-route="itemDetailsRoute" asp-route-id="@item.Id" class="btn btn-danger">View details</a>
                </div>
            </div>
        }
    </div>
</div>